@import "tailwindcss";

:root {
  --background: #f8f6f2;
  --surface: #ffffff;

  --text: #2f2f2f;
  --text-muted: #767676;

  --primary: #7e8d80;
  --accent: #c8b48a;

  --border: #e8e2da;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-border: var(--border);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}